body {
    background: chocolate;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding: 6px;
}
li a {
    display: block;
    padding: 8px;
    text-align: center;
    font: 24px helevetica;
}
li {
    float: left;
}
.top-right-nav {
    float: right;
}
.bottom-right-nav {
    float: right;
}
.bottom-left-nav {
    bottom: 0;
    position: fixed;
    padding: 6px;
}
 main {
    background: darkblue;
    margin: 40px 0;
    padding: 10px;
}
 main div {
    margin: 0 auto;
    margin: 25px auto;
    background: magenta;
    padding: 10px;
    text-align: center;
}
main div button {
    width: 250px;
    height: 50px;
    font-size: 24px;
    color: black;
    padding: 6px;
    background: lightgray;
}
main div input {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    -webkit-appearance: none;

}
main div:nth-child(1) {
    width: 272px;
}
main div:nth-child(2) {
    width: 500px;
}
main div:nth-child(3) {
    width: 600px;
}
/*
main div {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    margin: 150px 0 0 -230px;
    top: 320px;
}
*/

