body {
    background: rgb(24, 26, 27);
    margin: 0;
}
nav {
    height: auto;
    overflow: auto;
}
/* Set all links to inline-block display type */
a {
    padding: 8px 16px;
    display: inline-block;
    margin: 0 auto;
    color: #2596be;
    text-align: center;
    font: 20px sans-serif, helevetica;
}
.top-right-nav {
    margin: 0 0 50px 0;
    width: auto;
    height: auto;
    overflow: hidden;
    float: right;
}
.bottom-nav {
    bottom: 0;
    width: auto;
    margin: 120px 0 0 0;
}
.bottom-right-nav {
    float: right;
    margin: 0 auto;
}
 main {
    margin: 40px 0;
    padding: 10px;
}
/* Center main content horizontally and vertically */
 main div {
    margin: 0 auto;
    margin: 25px auto;
    padding: 10px;
    text-align: center;
}
/* Center buttons and set their width and height */
main div button {
    width: 250px;
    height: 50px;
    font-size: 24px;
    color: black;
    padding: 6px;
    margin: 0 25px;
    border-radius: 5px;
    background: lightgray;
}
/* Center text field and set a width and height */
main div input {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    border-radius: 25px;
    -webkit-appearance: none;
}
/* Create divs to contain main content elements with varying widths */
main div:nth-child(1) {
    width: 272px;
}
main div:nth-child(2) {
    width: 500px;
}
main div:nth-child(3) {
    width: 900px;
}